* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 24px;
}

.nav-p-1 {
  display: flex;
}

.dropdown-container {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  margin-left: 40px;
}

.dropdown {
  display: flex;
  align-items: center;
  gap: 5px;
}

.arrow-down {
  height: 10px;
}

.company-logo {
  height: 32px;
}

.hero {
  display: flex;
  justify-content: space-around;
}

.hero-p-1 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 450px;
}

.hero-image {
  height: 550px;
}

.client-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}

.hero-heading {
  font-size: 80px;
  margin-bottom: 40px;
}

.hero-para {
  font-size: 22px;
  margin-bottom: 40px;
}

.learn-more {
  width: 100px;
  padding: 8px 5px;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
  border: none;
  border-radius: 7px;
}
