@font-face {
  font-family: "Epilogue";
  src: url("./fonts/Epilogue-VariableFont_wght.ttf");
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Epilogue", sans-serif;
  background-color: hsl(0, 0%, 98%);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

a {
  display: none;
}

.ham-menu {
  display: block;
}

.register-btn {
  display: none;
}

.dropdown-container {
  display: none;
}

.dropdown {
  display: flex;
  align-items: center;
  gap: 5px;
}

.arrow-down {
  height: 6px;
}

.company-logo {
  height: 32px;
  margin-top: 10px;
}

.hero {
  display: flex;
  flex-direction: column-reverse;
  gap: 32px;
  width: 100%;
}

.hero-p-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: auto;
}

.hero-image-desktop {
  display: none;
}

.hero-image-mobile {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.client-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 1rem;
  width: 100vw;
  max-width: 100%;
  margin-top: 40px;
}

.client-container img {
  width: 65px;
}

.hero-heading {
  text-align: center;
  color: hsl(0, 0%, 8%);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-para {
  text-align: center;
  color: hsl(0, 0%, 41%);
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 20px;
}

.learn-more {
  width: 120px;
  font-weight: 700;
  padding: 12px 15px;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
  border: none;
  border-radius: 10px;
}

.learn-more:hover {
  background-color: hsl(0, 0%, 98%);
  border: 1px solid hsl(0, 0%, 8%);
  color: hsl(0, 0%, 8%);
}

@media screen and (min-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 24px 40px;
    color: hsl(0, 0%, 41%);
  }

  a {
    display: block;
    text-decoration: none;
    color: hsl(0, 0%, 41%);
  }

  a:hover {
    color: hsl(0, 0%, 8%);
  }

  .nav-p-1 {
    display: flex;
    align-items: center;
  }

  .nav-p-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 42px;
  }

  .ham-menu {
    display: none;
  }

  .register-btn {
    display: block;
    padding: 10px 15px;
    border-radius: 12px;
    border: 1px solid hsl(0, 0%, 41%);
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 41%);
  }

  .register-btn:hover {
    color: hsl(0, 0%, 8%);
    border-color: hsl(0, 0%, 8%);
  }

  .dropdown-container {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    margin-left: 40px;
  }

  .dropdown {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .dropdown:hover {
    cursor: pointer;
    color: black;
  }

  .arrow-down {
    height: 6px;
  }

  .company-logo {
    height: 32px;
    margin-top: 10px;
  }

  .features-dd {
    position: absolute;
    display: none;
    flex-direction: column;
    gap: 12px;
    top: 75px;
    left: 120px;
    padding: 18px;
    border-radius: 5px;
    background-color: white;
  }

  .features-dd:hover{
    cursor: pointer;
  }

  .features-link {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .features-link:hover {
    color: black;
  }

  .company-dd {
    position: absolute;
    top: 75px;
    left: 300px;
    display: none;
    flex-direction: column;
    gap: 14px;
    padding: 18px;
    border-radius: 5px;
    background-color: white;
  }

  .company-dd:hover{
    cursor: pointer;
  }

  .company-link:hover {
    color: black;
  }

  .hero {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 24px;
  }

  .hero-p-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    margin-left: 24px;
    width: 320px;
  }

  .hero-image-desktop {
    display: block;
    height: 550px;
  }

  .hero-image-mobile {
    display: none;
  }

  .client-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    padding: 0;
  }

  .client-container img {
    width: 80px;
  }

  .hero-heading {
    text-align: start;
    color: hsl(0, 0%, 8%);
    font-size: 43px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  .hero-para {
    text-align: start;
    color: hsl(0, 0%, 41%);
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 40px;
  }

  .learn-more {
    width: 120px;
    padding: 12px 15px;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    border: none;
    border-radius: 10px;
  }

  .learn-more:hover {
    background-color: hsl(0, 0%, 98%);
    border: 1px solid hsl(0, 0%, 8%);
    color: hsl(0, 0%, 8%);
  }
}

@media screen and (min-width: 925px) {
  .hero-p-1 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: normal;
    margin-left: 24px;
    width: 450px;
  }

  .hero-heading {
    text-align: start;
    color: hsl(0, 0%, 8%);
    font-size: 68px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  .hero-para {
    text-align: start;
    color: hsl(0, 0%, 41%);
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 40px;
  }
}
